.ccardIcon,
.payshopIcon {
    width: 10%
}

.mbwayIcon {
    width: 8%
}

.multibancoIcon {
    width: 5%
}

#ifthenpay_mb_way_control .label {
    font-weight: 700
}

#ifthenpay_mb_way_control .input-container {
    display: flex;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 30px
}

#ifthenpay_mb_way_control .input-container .icon {
    text-align: center;
    max-width: 100%;
    max-height: 30px;
    border: 1px solid #c2c2c2;
    border-right: none
}

#ifthenpay_mb_way_control .input-container .input-field {
    width: 100%;
    padding: 10px;
    outline: none
}

#ifthenpay_mb_way_control .input-container:focus {
    box-shadow: 0 0 3px 1px #fff
}

#paymentReturnPanel {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    width: 400px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

#paymentReturnPanel .panel-heading h5 {
    margin-top: 0
}

#paymentReturnPanel .paymentLogo {
    float: left
}

#paymentReturnPanel .multibancoIcon {
    width: 15%
}

#paymentReturnPanel .mbwayIcon {
    width: 15%
}

#paymentReturnPanel .payshopIcon {
    width: 20%
}

#paymentReturnPanel .ccardIcon {
    width: 20%
}

#paymentReturnPanel .paymentData {
    float: right;
    margin-top: 10px;
    width: 75%;
}

#paymentReturnPanel .paymentData .list-group {
    padding-left: 0;
    margin-bottom: 20px
}

#paymentReturnPanel .paymentData .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
#paymentReturnPanel .paymentData .list-group .list-group-item .badge {
    font-weight: 700;
}

#paymentReturnPanel h5 {
    margin-top: 20px
}

.mbwayCountdownPanel {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    width: 350px;
    padding: 0;
    margin-bottom: 20px
}

.mbwayCountdownPanel .panel-body {
    text-align: center;
    padding: 15px;
    width: 80%;
    min-height: 200px;
    width: 14vw;
    margin: 21px auto 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 8px 6px -6px #000
}

.mbwayCountdownPanel .panel-body h3 {
    margin-top: 20px
}

.mbwayCountdownPanel .panel-body #countdownMbway {
    display: flex;
    align-items: center;
    justify-content: center
}

.mbwayCountdownPanel .panel-body #countdownMbway h3 {
    font-family: Montserrat, sans-serif;
    font-size: 100px;
    text-align: center;
    font-weight: bolder;
    color: red
}

#cancelMbwayOrder,
#confirmMbwayOrder,
#orderCancelPanel,
#orderErrorPanel {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    margin-top: 60px !important;
    margin-bottom: 60px !important;
    width: 400px;
    padding: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

#cancelMbwayOrder .panel-heading,
#confirmMbwayOrder .panel-heading,
#orderCancelPanel .panel-heading,
#orderErrorPanel .panel-heading {
    text-align: center
}

#cancelMbwayOrder .panel-heading img,
#confirmMbwayOrder .panel-heading img,
#orderCancelPanel .panel-heading img,
#orderErrorPanel .panel-heading img {
    width: 30%;
    margin: auto
}

#cancelMbwayOrder .panel-body,
#confirmMbwayOrder .panel-body,
#orderCancelPanel .panel-body,
#orderErrorPanel .panel-body {
    text-align: center;
    margin-top: 10px
}

#resendMbwayNotificationBtn {
    color: #fff;
    background-color: red;
    border-color: red
}
